@model List<Carola.DtoLayer.Dtos.CarDtos.ResultCarDto>

<section class="featured-car-section pt_120 pb_90"
         style="background-image: url(~/carola/carola/assets/images/background/most-popular-car.jpg);">
    <div class="container">
        <div class="section-title centred mb_60">
            <span class="sub-title">Öne Çıkan Araçlar</span>
            <h2 class="title">En Son Eklenen Araçlar</h2>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                    <div class="single-featured-car-block style_two">
                        <div class="single-featured-car-image">
                            <a href="#">
                                <img src="@item.ImageUrl" alt="@item.Model"
                                     style="width:100%; height:220px; object-fit:cover;"
                                     onerror="this.src='/carola/carola/assets/images/featured-car/featured-car-4.jpg'">
                            </a>
                        </div>
                        <div class="single-featured-car-content">
                            <div class="single-featured-car-rating">
                                <i class="icon-9"></i>4.8
                            </div>
                            <h5 class="single-featured-car-title">
                                <a href="#">@item.BrandName @item.Model</a>
                            </h5>
                            <div class="single-featured-car-rent-per-day-2">
                                <span>@item.DailyPrice ₺</span>/ Gün
                            </div>
                            <div class="border-divider"></div>
                            <div class="featured-car-info-outer">
                                <ul class="single-featured-car-info">
                                    <li><i class="icon-6"></i>@item.FuelType</li>
                                    <li><i class="icon-30"></i>@item.TransmissionType</li>
                                </ul>
                                <ul class="single-featured-car-info">
                                    <li><i class="icon-8"></i>@item.SeatCount Kişi</li>
                                    <li><i class="icon-7"></i>@item.ModelYear</li>
                                </ul>
                                <ul class="single-featured-car-info">
                                    <li><i class="icon-28"></i>@item.Mileage km</li>
                                    <li><i class="icon-29"></i>@item.CategoryName</li>
                                </ul>
                            </div>
                            <div class="single-featured-car-book-btn">
                                <a href="#" class="btn-style-three">Hemen Kirala</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>